.main-container{
    padding: 10px;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.table-container{
    overflow-x: auto;
}

#notifications .alert p{
    margin: 0;
}

#notifications .alert{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}

.error{
    color: red;
}