.main-container{
    padding: 10px;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.table-container{
    overflow-x: auto;
}

#notifications .alert p{
    margin: 0;
}

#notifications .alert{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}

.notif-action{
    display: flex;
    margin-left: 5px;
}

.notif-action button{
    margin-right: 5px;
}

.error{
    color: red;
}

.show{
    display: block;
}

.hide{
    display: none;
}

/* ============================ Target EMA styles =========================*/
.tema-ema-input-box{
    margin-bottom: 20px;
}

.tema-ema-input-box .item-row{
    display: flex;
    justify-content: space-between;
}

.tema-ema-input-box .item-row select,input{
    width: 100%;
}

